<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sparklink.mapper.PartnerMapper">

    <!-- 搭子筛选：按兴趣类型、位置、计划时间、发布者性别 -->
    <select id="selectPageByFilter" resultType="com.sparklink.entity.Partner">
        SELECT p.id, p.user_id, p.title, p.content, p.preference, p.scope, p.type, p.target_count, p.current_count,
               p.location, p.latitude, p.longitude, p.plan_time, p.plan_end_time, p.cover_image, p.status, p.view_count,
               p.create_time, p.update_time, p.create_by, p.update_by, p.deleted
        FROM t_partner p
        LEFT JOIN t_user u ON p.user_id = u.id
        WHERE p.deleted = 0
          AND p.status = 0
        <if test="type != null">
            AND p.type = #{type}
        </if>
        <if test="location != null and location != ''">
            <bind name="locationPattern" value="'%' + location.replace('\\', '\\\\').replace('%', '\\%').replace('_', '\\_') + '%'" />
            AND p.location LIKE #{locationPattern} ESCAPE '\'
        </if>
        <if test="planTimeStart != null">
            AND p.plan_time &gt;= #{planTimeStart}
        </if>
        <if test="planTimeEnd != null">
            AND p.plan_time &lt;= #{planTimeEnd}
        </if>
        <if test="gender != null">
            AND u.gender = #{gender}
        </if>
        ORDER BY p.create_time DESC
    </select>
</mapper>
